img {
  position: relative;
  top: -70px;
  float: center;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(90deg);
}

#rotation {
  -webkit-transform: rotate(0deg);
}

.button_text {
  position: relative;
  top: -60px;
}

#mainDiv {
  height: 440px;
  width: 800px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin: auto;
  
  border: 3px;
  border-style: solid;
  border-radius: 3px;
  background: #cecece;
  overflow: auto;
  /*
  background: -webkit-linear-gradient(#cecece, #aaaaaa);
  background: -o-linear-gradient(#cecece, #aaaaaa);
  background: -moz-linear-gradient(#cecece, #aaaaaa);
  background: linear-gradient(#cecece, #aaaaaa);
  box-shadow: 3px 3px 3px #424242;*/
}

#mainDiv.addon {
  height: 150px;
}

.horizontalDiv {
  display: inline-block;
  width: 100%;
}

#searchBar {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  float: left;
  background-color: #FFFFFF;
  font-size: 12pt;
}

button {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;
  margin-left: 2px;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  font-size: 12pt;
  /*border-style: outset;
  border-radius: 10px;*/
}

.buttonRightAlign {
  float: right;
  border-radius: 10px;
  background-color: #ffffff;
}

#topBar {
  height: 50px;
  background: -webkit-linear-gradient(right, #DDEECC, #67cc5b);
  margin: auto;
  margin-bottom: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25pt;
  text-align: left;
  padding-left: 20px;
  vertical-align: bottom;
  color: black;
}

#titleBar{
  
  width: 500px;
  font-size: 30px;
  
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position:relative;
  top:-10px;
  left:-165px;
  margin: auto;
}

table,
tr,
th {
  border: 1px solid black;
  font-size: 12pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.transactionsTable {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

#add_heading {
  padding-left: 30px;
  display: None;
  font-size: 40px;
  font-family: "Arial";
}

.add_transaction {
  display: None;
  border_collapse: colapse;
  width: 100%;
  border: 0;
}

#save_button {
  display: None;
}

#cancel_button {
  display: None;
}

.add {
  height: 30px;
  padding-left: 5px;
}

.disappear {
  opacity: 0;
}

.special_th {
  border: 0;
}

th {
  height: 50px;
}

.edit_textbox {
  display: none;
}

.row {
  display: block;
}

button:hover {
  background-color: #9e9e9e;
}

button:active {
  background-color: #b5c6e0;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  position: fixed;
  top: 20%;
}

li a {
  box-shadow: 3px 3px 3px #424242;
  float: left;
  width: 100px;
  height: 10px;
  display: block;
  padding-top: 80px;
  text-decoration: none;
  text-align: center;
  border-bottom: 0px;
  border-style: solid;
  color: black;
  background: #1186e0;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10.5px;
}

li:last-child {
  float: left;
  border: 0px;
  border-bottom: 3px;
  border-style: solid;
}

li a.active {
  border-bottom: 3px;
  border-style: solid;
  width: 120px;
  color: black;
  background: #0369b2;
}

li a:hover {
  background-color: #555;
  color: black;
}

#box {
  margin-left: 200px;
  padding: 1px 15px;
  height: 40rem;
  width: 40rem;
  border-style: solid;
  overflow: auto;
}